{% extends "tag/base.html" %}
{% block content %}
{% for tag in tags %}
<article class="media content-section">
<div class="media-body">
<div class="article-metadata">
<a class="mr-2" href="#">{{ tag.note }}</a>
<a class="mr-2" href="#">{{ tag.active }}</a>
<small class="text-muted">{{ tag.access_to_doors.all|join:", " }}</small>
</div>
<h2><a class="article-title" href="#">{{ s }}</a></h2>
<p class="article-content">{{ s3 }}</p>
<p class="article-content">{{ s }}</p>
<a href="example">{{ s }}</a>

</div>
</article>
{% endfor %}
{% endblock content %}